*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

i{
    cursor: pointer;
}
/* navbar style */
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 60px;
    background-color: #212529;
    color: white;
    margin-bottom: 30px;
}

a{
    text-decoration: none;
    color:  white;
}

/* icon style*/
.cart {
    position: relative;
    background-color: white;
    color: #212529;
    font-size: 30px;
    padding: 5px;
    border-radius: 4px;
}

/*quantity style */
.cartAmount{
    position: absolute;
    top: -15px;
    right:-10px;
    font-size: 16px;
    background-color: red;
    color: white;
    padding: 3px;
    border-radius:3px;

}


/* shop items styles */
/* here we apply the grid display to the paret container */
.shop{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 223px);
    gap: 30px;
}

@media (max-width:1000px){
    .shop{
        grid-template-columns: repeat(2, 223px);
    }

}

@media (max-width:500px){
    .shop{
        grid-template-columns: repeat(1, 223px);
    }
}

.item{
    border: 2px solid #212529;
    border-radius: 4px;
}

.details{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding:10px;
}


.price-quantity{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 16px;
}

.bi-dash-lg{
    color: red;
}

.bi-plus-lg{
    color: green;
}


/* Cart css */

.text-center{
    display: flex;
    flex-direction: column;
    gap: 10PX;
    align-items: center;
}

.btn{
    background-color: #212529;
    color: white;
    padding: 6px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.btn:hover{
    opacity: 90%;
}

.shopping-cart{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.checkoutBtn{
    background-color: green;
    padding: 6px;
    color: white;
    border: none;
    border-radius: 3px;

}

.clearBtn{
    background-color: red;
    padding: 6px;
    color: white;
    border: none;
    border-radius: 3px;
}


.containerCart{
    border: 2px solid black ;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.articleContainer{
   
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.articleTitle{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.price{
    border:none;
    background-color: #212529;
    color: white;
    border-radius: 3px;
    padding: 2px 4px;
}

.containerIcon{
    color: red;
    
}